@font-face {
    font-family: Geomanist-Regular;
    src: url(../fonts/Geomanist-Regular.otf);
}

@font-face {
    font-family: Geomanist-Medium;
    src: url(../fonts/Geomanist-Medium.otf);
}

@font-face {
    font-family: Geomanist-Bold;
    src: url(../fonts/Geomanist-Bold.otf);
}